<View style="width: 96%; margin-right: 4%;">

  <View style="display: flex; padding-top:10px;" className="cls-name">
    <!-- <View style="width: 49%; margin-right: 1.99%"> -->
    <View style="width: 96%; margin-right: 4%;">
      <Image name="image" value="$image" />
      <Rectangle name="rect" toName="image" />
      <Polygon name="polygon" toName="image" />
    </View>
  </View>
  <View style="display: none">
    <Labels name="rect-label" toName="rect" fillOpacity="0.5" strokeWidth="5">
      <Label value="rect" background="green" selected="true"></Label>
    </Labels>
    <Labels name="polygon-label" toName="polygon" fillOpacity="0.5" strokeWidth="5">
      <Label value="polygon" background="red" selected="true"></Label>
    </Labels>

  </View>
</View>